/* style library for SuketDhir*/


/*
Wesbite Name: SuketDhir
Author: Ampersand Design
Author URI: https://www.ampersanddesign.io
Description: Styling for Suket Dhir Website
Version: 1.0
*/


/*General Guidelines*/


/*Please write comments for each class */


/*Examples for comments */


/*
    * === MAJOR SECTION HEADING ===
    */


/*
    * — Minor Section Heading —
    */

* {
    font-family: Cormorant;
}

body {
    overflow-x: hidden;
}

.hide-me {
    opacity: 0;
}

body {
    color: #696d70;
}

a:focus {
    outline: none;
}

a,
a:hover {
    color: inherit;
}

.float-clear:after {
    display: block;
    clear: both;
    content: "";
}

.SD-left-carousel:hover,
.SD-right-carousel:hover,
.right-chevron-image:hover,
.left-chevron-image:hover,
.SD-left-carousel span:hover,
.SD-right-carousel span:hover {
    cursor: url('../icons/cursor.svg') 100 0, auto !important;
}

.carousel-indicators li {
    background-color: white !important;
}

.carousel-indicators li.active {
    background-color: #c7c7c5 !important;
    border-color: #c7c7c5 !important;
}

.SD-card {
    min-height: 100px;
    border-radius: 0px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    float: left;
    width: 100%;
    position: relative;
}

.SD-header {
    width: 100%;
    /*min-height: 100px;*/
    color: #636363;
    height: 95px;
    /*overflow: hidden;*/
    position: fixed;
    top: 0px;
    z-index: 2;
    background: #fff;
    /*transition: 1s;*/
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.SD-header.SD-reduce {
    opacity: .7;
    padding-top: 0px;
}

.SD-header>ul {
    font-family: Cormorant;
    font-size: 14px;
    font-weight: 300;
    /*float: left;*/
    color: #636363;
    /*margin: 0px 25px;*/
    /*margin-bottom: 0px;*/
    /*padding: 20px 25px 0px 25px;*/
}

ul.SD-nav {
    list-style-type: none;
    margin: 0px;
    text-align: center;
    /*margin-left: 35px;*/
    padding: 0px;
    float: left;
    border-top: 1px solid #636363;
    width: 100%;
}

ul.SD-nav li {
    position: relative;
    display: block;
    margin: 10px;
}

.SD-name {
    /* border-bottom: 1px solid #636363; */
    padding-bottom: 10px;
    float: left;
    width: 100%;
}

@media (min-width: 768px) {
    ul.SD-nav {
        list-style-type: none;
        margin: 10px 0 0 0;
        /*margin-left: 35px;*/
        padding: 0px;
        float: left;
        border: none;
        width: 81%;
    }
    ul.SD-nav li>a {
        color: #636363;
        padding: 5px 0px;
        font-size: 14px;
        font-weight: 300;
        /*float: left;*/
        display: block;
        word-break: break-word;
        cursor: url('../icons/cursor.svg') 100 0, auto !important;
    }
    .SD-name {
        float: left;
        border: none;
        padding: 0px 25px;
        width: 19%;
    }
    ul.SD-nav>li {
        float: left;
        margin: 0px;
        width: 14%;
        display: inline-block;
    }
    .SD-gotohome img {
        width: 100% !important;
        margin: 0px;
    }
    .SD-gotohome {
        width: 100%;
    }
}

.SD-nav a {
    color: #636363;
    /*margin: 30px 34px;*/
    /*margin-bottom: 25px; */
    font-size: 14px;
    font-weight: 300;
    /*float: left;*/
    cursor: url('../icons/cursor.svg') 100 0, auto !important;
}

.SD-nav li:last-child>a {
    padding-right: 0px;
    padding-top: 16px;
}

.SD-nav a:hover {
    color: #636363;
    text-decoration: underline;
}

.SD-nav a:focus,
.SD-nav a:focus>label {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #636363;
    text-decoration: underline;
}

.SD-nav label {
    cursor: url('../icons/cursor.svg') 100 0, auto !important;
}

.SD-headerpic img {
    width: 100%;
    height: 700px;
    margin-top: 80px;
}

.SD-nav label:hover {
    text-decoration: underline;
    color: #636363;
}

.SD-header.scrolled .SD-name img {
    height: 86px;
    width: 65px;
    transition: all linear 0.2s;
}

.SD-gotohome {
    width: 155px;
    height: 100%;
    float: left;
    position: relative;
    display: block;
}

.SD-gotohome img {
    margin-top: 0;
    text-align: center;
    width: 155px;
    height: 140px;
}

.SD-ham {
    float: left;
    margin-top: 19px;
}

.SD-ham img {
    width: 30px;
}

.SD-bottomright-season1,
.SD-bottomright-season2 {
    font-size: 70px;
}

.SD-bottomright-text {
    color: #ffffff;
    font-family: Cormorant;
    text-align: right;
    position: absolute;
    right: 25px;
    top: 430px;
}

.SD-bottomright-text p {
    margin: 0px;
    font-weight: 300;
    line-height: 0.8;
}

.SD-bottomright-year {
    font-size: 110px;
    font-style: italic;
    margin-bottom: 70px !important;
    line-height: 0.3 !important;
}

.SD-bottomright-takemethere {
    text-decoration: underline;
    font-size: 18px;
    color: #ffffff;
}

.SD-bottomright-takemethere:hover {
    color: #ffffff;
}

.SD-headerpic {
    position: relative;
}

.SD-col-images {
    margin: auto;
}

.SD-col-images-2,
.SD-col-images-3 {
    background-color: #ecece5;
    /*height: 800px;*/
    padding: 70px 20px;
    /*z-index: 1;*/
}

.SD-col-images-1,
.SD-col-images-4 {
    /*height: 800px;*/
    background-color: #ffffff;
    padding: 70px 20px;
    /*z-index: 1;*/
}

.pink-circle-parent:hover .pink-circle {
    width: 400px;
    height: 400px;
    transition: .3s;
}

.pink-circle-parent-1:hover .pink-circle {
    width: 240px;
    height: 240px;
    transition: .3s;
}

.pink-circle-parent:hover .pink-circle-product {
    width: 300px;
    height: 300px;
    transition: .3s;
}


/* Pink Circle for wardrobe */

.pink-circle-wardrobe {
    position: absolute;
    z-index: 0;
    margin: auto;
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    width: 0px;
    height: 0px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 0%;
    bottom: 0px;
    z-index: 0;
    opacity: .6;
    transition: .8s;
}

.SD-wardrobe-item-pic:hover .pink-circle-wardrobe {
    width: 100px;
    height: 100px;
    transition: .3s;
}

.SD-inline-wardrobe-item-pic:hover .pink-circle-wardrobe {
    width: 100px;
    height: 100px;
    transition: .3s;
}


/*
.SD-collection-row span {
    opacity: 1;
    height: 50px;
    display: block;
    width: 50px;
    color: red;
    border-radius: 50%;
    top: 50%;
    left: 50%;
}
*/

.SD-collections-view {
    text-decoration: underline;
    color: #636363;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Cormorant';
    text-align: center;
    display: block;
    padding-top: 60px;
}

.SD-collections-view:hover {
    color: #636363;
}

.SD-clothing-row img {
    width: 80%;
    margin: auto;
    display: block;
    z-index: 1;
    position: relative;
}

.SD-collection-row img {
    width: 60%;
    margin: auto;
    display: block;
    z-index: 1;
    position: relative;
}

.SD-stl {
    /*width: 50%;*/
    background-color: #ecece5;
    font-family: Cormorant;
    font-weight: 300;
    height: 800px;
    text-align: center;
    /*margin-bottom: 40px;*/
    display: block;
}

.SD-stlhead {
    text-decoration: underline;
    text-align: left;
    color: #636363;
    font-weight: 300;
    font-size: 20px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
    /*margin-top: 35%;*/
    padding: 0px !important;
}

.SD-homevideo {
    display: block;
    /*height: 500px;*/
}

.SD-homevideo video {
    object-fit: fill;
}


/* video css overwriting videojs*/

.SD-homevideo .video-js {
    /*width: 100%;*/
    /*height: 100px;*/
}

.SD-homevideo .video-js .vjs-big-play-button {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 45%;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: rgba(198, 198, 196, .6);
    border: none;
    transition: .8s;
    /*background-color: #c6c6c4 ; */
}

.SD-homevideo .video-js:hover .vjs-big-play-button {
    background: #c6c6c4;
}

.vjs-icon-play:before,
.video-js .vjs-big-play-button:before,
.video-js .vjs-play-control:before {
    /*top: 23%;*/
    font-size: 70px;
    line-height: 75px;
}

.SD-homevideo .video-js .vjs-tech {
    height: auto;
}

.SD-homevideo .video-js .vjs-tech {
    top: -2px;
    height: 100.5%;
}

.SD-homevideo .video-js {
    overflow: hidden;
}


/* video css overwriting videojs ends*/

.SD-stltext1,
.SD-stltext2 {
    text-align: left;
    color: #636363;
    font-size: 14px;
    /*width: 25% !important;*/
    display: block;
    /*margin: auto;*/
    margin-top: 15px;
}

.SD-imageback {
    /*width: 50%;*/
    background-image: url('../assets/images/VD_Direction1 0.5_Placeholders_Story5-38.png');
    background-size: cover;
    height: 800px;
    background-position: 50%;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    padding: 0px !important;
    /*margin-bottom: 40px;*/
}

.SD-bottomright-takemethere {
    font-weight: 300;
    cursor: url('../icons/cursor.svg') 100 0, auto !important;
}

.SD-icon-hat {
    text-align: center;
    background-image: url('../../assets/icons/iconhat.png');
    height: 36px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 50px;
    width: 36px;
    background-repeat: no-repeat;
}

.SD-hamburger {
    text-align: center;
    background-image: url('../../assets/icons/hamburger1.png');
    height: 36px;
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 36px;
    background-repeat: no-repeat;
}

.pink-circle-parent a:hover {
    cursor: url('../icons/cursor.svg') 100 0, auto
}

.SD-footer span {
    font-family: Cormorant;
    font-size: 12px;
    color: #636363;
    /* margin-left: 10%; */
}

.SD-footer3 a {
    padding: 8px;
}

.SD-footer3 a>img {
    width: 100%;
    max-width: 20px;
}

.SD-clothing-row a:hover,
.SD-clothing-row i:hover {
    cursor: url('../icons/cursor.svg') 100 0, auto;
}

.SD-footer1 a,
.SD-footer2 a {
    color: #636363;
    padding: 0% 30px;
    font-family: Cormorant;
    font-size: 12px;
    font-weight: 300;
    cursor: url('../icons/cursor.svg') 100 0, auto !important;
}

.SD-homeions {
    font-size: 12px;
    /* margin-right: 1% !important; */
}

.SD-homeions:hover {
    text-decoration: underline;
    color: #636363;
}

.SD-footer label:hover {
    text-decoration: underline;
    color: #636363;
    cursor: url('../icons/cursor.svg') 100 0, auto !important;
}

.SD-clothing-row div:hover {
    cursor: url(../icons/cursor.svg) 100 0, auto;
}

.SD-imageback {
    padding: 0px !important;
}

.SD-stl {
    padding: 0% 16% !important;
    display: table
}

.SD-stl-section {
    display: table-cell;
    vertical-align: middle;
}

.SD-stlhead:hover {
    color: #636363;
    cursor: url('../icons/cursor.svg') 100 0, auto !important;
}

.SD-include {
    border: 0px;
}

.SD-collectionlist {
    width: 100%;
    /*display: none;*/
    position: absolute;
    background-color: #fff;
    left: 0px;
    bottom: 0px;
    display: none;
    height: 180px;
    z-index: 2;
}

.SD-collection-apparel,
.SD-collection-2,
.SD-collection-size,
.SD-collection-accessories {
    width: 15%;
    float: left;
}

.SD-collection-apparel a,
.SD-collection-2 a,
.SD-collection-size a,
.SD-collection-accessories a {
    color: #636363;
}

.SD-collection-apparel a:hover,
.SD-collection-2 a:hover,
.SD-collection-size a:hover,
.SD-collection-accessories a:hover,
.SD-collection-apparel a:visited,
.SD-collection-2 a:visited,
.SD-collection-size a:visited,
.SD-collection-accessories a:visited {
    color: #636363;
}

.SD-collectionlist ul {
    list-style: none;
    padding: 0px;
}

.SD-collection-size li {
    float: left;
    margin-right: 7px;
}

.SD-collectionlist p {
    font-family: Cormorant;
    font-size: 18px;
    font-weight: 300;
    color: #636363;
}

.SD-collectionlist li {
    font-family: Cormorant;
    font-size: 14px;
    font-weight: 300;
    color: #636363;
}

.SD-collection-img {
    width: 30%;
    float: left;
    margin: 25px;
    margin-top: 0px;
}

.SD-footer {
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}

.SD-footer li {
    list-style: none;
    display: inline;
}

.SD-footer1 {
    width: 25%;
    margin-right: 16px
}

.SD-footer3 {
    width: 15%;
}

.SD-footer2 {
    width: 60%;
}

.SD-footer a:hover,
.SD-footer a:visited,
.SD-footer a:focus,
.SD-footer a {
    color: #636363;
}

.SD-sd {
    padding: 0px !important;
}

@media all and (max-width:768px) {
    .SD-footer1 a,
    .SD-footer2 a {
        padding: 0% 0.75%;
    }
    .SD-footer2 a {
        display: inline;
    }
    .SD-footer3 a {
        margin-right: 0px !important;
    }
    .SD-footer a {
        /*font-size: 12px;*/
    }
    .SD-footer li {
        display: inline;
        text-align: center;
    }
    .SD-footer1 {
        width: 50%;
        margin: auto;
    }
    .SD-footer2 {
        width: 50%;
        margin: auto;
    }
    .SD-footer3 {
        width: 50%;
        margin: auto;
    }
    /* .SD-icon-hat {
        margin-left: 50%;
    } */
    .SD-stl,
    .SD-imageback {
        height: 500px;
    }
    .SD-footer span {
        margin-left: 0px !important;
    }
}


/*pink circle*/

.pink-circle {
    position: absolute;
    z-index: 0;
    margin: auto;
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    width: 0px;
    height: 0px;
    left: -25%;
    right: 0px;
    background-image: url('images/bg-mango.svg');
    background-repeat: no-repeat;
    background-size: contain;
    /*background-color: #e2d5b5;*/
    border-radius: 50%;
    top: -36%;
    bottom: 0px;
    z-index: 0;
    opacity: .6;
    transition: .8s;
}

.pink-circle-parrot {
    left: -20%;
    top: 5%;
    opacity: 1;
    background-image: url('images/bg-parrot.svg');
    background-repeat: no-repeat;
}

.SD-latest-collection-headerimage {
    height: 147px !important;
    width: 395px !important;
    background-position: 90%;
}

.SD-latest-collection-text {
    position: absolute;
    top: 60px;
    left: 130px;
    font-size: 18px;
    color: white;
}

.SD-crossicon {
    float: left;
    width: 9%;
}

.SD-cross-icon {
    width: 14px;
    cursor: url('../icons/cursor.svg') 100 0, auto !important;
}

.SD-collection-size {
    width: 12%;
}

.SD-story:hover img {
    opacity: 0.7;
}

.SD-button:hover {
    transition: 0.3s;
    background-color: #636363;
}

.SD-social-fb {
    height: 14px;
    width: 20px;
}

@media all and (max-width:768px) {
    .SD-collectionlist {
        display: none;
    }
}


/*.SD-pay-img img {
    height: 30px;
    width: 30px;
}*/

.SD-login-modal {
    width: 65%;
    /* height: initial; */
    background-color: #fafafa !important;
    border-radius: 0px !important;
    border: 0px !important;
    box-shadow: -5px 8px 25px -3px #ccc !important;
    -webkit-box-shadow: -5px 8px 25px -3px #ccc !important;
    margin: auto;
}

.SD-login-modal2 {
    width: 392px;
    background-color: #fafafa !important;
    border-radius: 0px !important;
    border: 0px !important;
    color: #636363;
    box-shadow: -5px 8px 25px -3px #ccc !important;
    -webkit-box-shadow: -5px 8px 25px -3px #ccc !important;
}

.SD-signup-modal {
    font-family: 'Cormorant';
    width: 810px;
    height: 350px;
    background-color: #fafafa !important;
    border-radius: 0px !important;
    border: 0px !important;
    box-shadow: -5px 8px 25px -3px #ccc !important;
    -webkit-box-shadow: -5px 8px 25px -3px #ccc !important;
}

.SD-reset-modal {
    /*width: 392px;*/
    /*height: 427px;*/
    background-color: #fafafa !important;
    border-radius: 0px !important;
    /*border: 0px !important;*/
    box-shadow: -5px 8px 25px -3px #ccc !important;
    -webkit-box-shadow: -5px 8px 25px -3px #ccc !important;
}

.SDlogin-modal {
    font-family: 'Cormorant';
    /* width: 320px !important; */
    height: 427px;
    margin: 80px auto !important;
}

.SDlogin-modal2 {
    width: 320px !important;
    margin: 80px auto !important;
}

.SD-login-modal-body {
    padding: 40px 0px !important;
}

.SD-login-modal-body2 {
    padding: 80px 30px !important;
}

.SD-login-modal-body2 .change {
    text-decoration: underline;
    color: #636363;
}

.SD-login-modal-body input {
    width: 65%;
}

.SD-md1 {
    padding: 0px !important;
    border-right: 1px solid #c6c6c4;
}

.SD-md1 input {
    width: 68% !important;
}

.SD-md1 .SD-remember-block {
    width: 68% !important;
    margin: 0px 17% !important;
}

.SDsignup-modal {
    margin: 80px auto !important;
}

.SD-signup-modal-body {
    margin: 50px 0 !important;
    padding: 50px 0 0 0 !important;
}

.SD-signup-links p {
    margin-top: 14px;
}

.SD-md2 .SD-social-text {
    width: calc(100% - 146px) !important;
    float: none !important;
    vertical-align: top;
    height: 40px !important;
}

.SD-md2 .SD-social-icon {
    height: 40px !important;
    width: 40px !important;
}

.SD-md2 div {
    margin-left: 50px !important;
}

.nav-pills a:hover {
    cursor: url('../icons/cursor.svg') 100 0, auto !important;
}

.SD-md2 {
    margin-top: 60px !important;
}

.SD-reset-text {
    font-size: 12px;
    text-align: center;
}

.SD-reset-modal-body input {
    width: 69% !important;
}

.SD-reset-modal-body {
    padding: 0px !important;
    margin: 40px;
}

.SDreset-modal {
    margin: 18% auto !important;
}

.SD-reset-modal {
    width: 615px !important;
}

.SD-reset-modal-body .SD-signup-links {
    padding-top: 30px;
}

.SD-forgotpass {
    color: #636363;
}

.SD-forgotpass:hover {
    color: #636363;
}

.SD-search-bar-input {
    width: 30% !important;
}

header a:hover {
    cursor: url('../icons/cursor.svg') 100 0, auto !important;
}

.SD-button:hover {
    cursor: url('../icons/cursor.svg') 100 0, auto !important;
}

footer a:hover {
    cursor: url('../icons/cursor.svg') 100 0, auto !important;
}

.SD-footerbefore {
    margin-bottom: 40px;
}

.Sd-search-box-cont {
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    width: 100%;
    background: #fafafa;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.SD-searchbox {
    width: 363px;
    outline: none;
    height: 35px;
    color: #c6c6c4;
    border: none;
    border-bottom: 1px solid #c6c6c4;
    padding-bottom: 0px;
    font-size: 18px;
    background: #fafafa;
    font-style: italic;
}

.SD-searchbox::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #c6c6c4;
    font-style: italic;
}

.searchicon {
    font-size: 30px;
    color: #c6c6c3;
}

.search-close {
    position: absolute;
    right: 25px;
    top: 6px;
    color: #c6c6c4;
    font-size: 20px;
}

.search-close a,
.search-close a:hover {
    color: #c6c6c4;
}

.modal-backdrop.in {
    opacity: .8 !important;
}

.plainblock {
    background: #fff;
    height: 100px;
    float: left;
    width: 100%;
}


/* CSS by Sammaan*/


/* Header */

.SD-header.scrolled .SD-name img {
    height: 86px;
    width: 65px;
    transition: all linear 0.2s;
}

.SD-gotohome {
    width: 155px;
    height: 100%;
    float: left;
    position: relative;
    display: block;
}

.SD-gotohome img {
    margin-top: 0;
    text-align: center;
    width: 155px;
    height: 140px;
    transition: all linear 0.2s;
}

li.wardrobe-btn {
    float: right !important;
    right: 0;
    line-height: 3;
    text-align: right;
}

.SD-header>div {
    line-height: 5;
}

.SD-header .header-submenu {
    display: none;
    position: absolute;
    width: 160px;
    left: 20px;
    top: 65px;
    padding-top: 20px;
    background: #fff;
    z-index: 9;
}

.header-submenu ul {
    line-height: 2;
    padding-left: 0;
}

.header-submenu li {
    text-align: left;
    margin: 0 !important;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #696d70;
}

.SD-header .SD-nav li:hover .header-submenu {
    display: block;
}

@media screen and (max-width: 768px) {
    ul#SD-nav.collapse.in {
        background: #fff;
    }
}


/* Wardrobe */

@font-face {
    font-family: Cinzel;
    src: url('../font/Cinzel-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

.SD-wardrobe-container {
    min-height: 786px;
    padding: 20px;
    padding-bottom: 0px;
    width: 33.3%;
    position: absolute;
    right: -35%;
    top: 100%;
    background: #ecece5;
    z-index: 1;
    -webkit-box-shadow: -5px 3px 10px -3px #616161;
    box-shadow: -5px -3px 10px -3px #616161;
    transition: 1s;
    outline: 0px !important;
    height: 100%;
}

.show-wardrobe {
    right: 0px;
}

.SD-wardrobe-header {
    font-size: 24px;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
}

.SD-wardrobe-item-pic,
.SD-wardrobe-item-info {
    width: 50%;
    float: left;
    display: inline-block;
}

.SD-wardrobe-item-info {
    width: 65%;
    padding-left: 15%;
    margin-top: 20px;
}

.SD-wardrobe-item-info select {
    background: #ecece5;
    border: 0px;
}

.SD-wardrobe-item-info p {
    margin: 0px;
    font-size: 14px;
}

.SD-wardrobe-item-info>a {
    font-size: 12px;
    text-decoration: underline;
    color: #505050 !important;
}

.SD-wardrobe-item-info h4 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0px;
}

.SD-wardrobe-item-info>p:nth-child(2) {
    font-size: 18px;
    font-family: Cinzel;
    font-weight: 300;
}

.SD-wardrobe-item-pic {
    position: relative;
    padding: 5px;
    width: 35%;
}

.SD-wardrobe-item-pic>img {
    position: relative;
    z-index: 1;
    width: 80%;
    margin: auto;
    display: block;
}

.SD-wardrobe-item div.wardrobe-heart {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 15px;
    width: 15px;
    color: #c6c6c4;
    cursor: url('../icons/cursor.svg') 100 0, auto !important;
}

.SD-wardrobe-item div.wardrobe-heart:hover {
    color: #e2d5b5;
}

.SD-wardrobe-items {
    list-style-type: none;
    overflow-y: scroll;
    height: 50%;
    padding: 0px 30px;
    margin-bottom: 10px;
}

.SD-wardrobe-item {
    border-bottom: 1px solid #636363;
    float: left;
}

.SD-wardrobe-item:last-child {
    border-bottom: 0px;
}

.SD-wardrobe-bottom {
    text-align: center;
}

.SD-wardrobe-bottom>p {
    color: #636363;
    font-size: 18px;
    text-align: center;
}

.SD-wardrobe-bottom>p>span {
    font-family: Cinzel;
    font-weight: 300;
    margin-left: 15px;
}

.SD-wardrobe-bottom>button {
    width: 50%;
    padding: 5px 10px;
    color: #fff;
    transition: .8s;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}

.SD-wardrobe-bottom>button:hover {
    background: #636363;
}


/* End Wardrobe */


/* Clothing */

@font-face {
    font-family: Cinzel;
    src: url('../font/Cinzel-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

.SD-col-images:nth-child(odd) {
    background-color: #fafafa;
}

.SD-col-images:nth-child(even) {
    background-color: #ECEBE6;
}

.SD-col-head {
    text-align: center;
    margin: 0px !important;
    padding: 30px !important;
    font-size: 26px;
    color: #636363;
    font-weight: 300;
}

.shop-sub {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #f2f2eb;
    text-align: center;
}

.shop-sub ul {
    margin: 0;
    vertical-align: middle;
    line-height: 5;
}

.SD-clothing-head.shop-sub {
    position: fixed;
    top: 85px;
    z-index: 1;
    width: 100%;
}

.submenu-clothing {
    display: inline;
    font-size: 16px;
    list-style: none;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
}

.submenu-clothing.active:before {
    content: '|';
    position: absolute;
    width: 5px;
    display: block;
    left: 0;
    top: 0;
}

.submenu-clothing.active:after {
    content: '|';
    position: absolute;
    display: block;
    width: 5px;
    left: 100%;
    top: 0;
}

.shop-sub select {
    width: 60px;
    background: transparent;
    text-align: right;
    right: 0;
    border: none;
}

.submenu-clothing-size {
    display: inline;
    font-size: 16px;
    list-style: none;
}

.SD-clothing-pagination {
    text-align: center;
    padding: 10px;
    display: table !important;
    margin: auto !important;
}

.SD-clothing-pagination>li>a {
    color: #636363 !important;
    border: 0px !important;
    font-size: 18px !important;
    font-family: Cinzel;
    padding: 6px 4px !important;
}

.SD-clothing-pagination>li>a:hover,
.SD-clothing-pagination>li>a:focus {
    background-color: #ffffff !important;
    text-decoration: underline !important;
}

.icon-heart {
    color: #636363;
    font-size: 24px;
    opacity: 0.5;
}


/*
.SD-heart:visited i {
    color: red;
}*/

.SD-heart {
    text-align: right;
    opacity: 0;
}

.SD-col-images {
    padding: 30px !important;
}

.SD-clothing-name,
.SD-clothing-price,
.SD-clothing-sizes {
    font-size: 14px;
    display: inline;
    opacity: 0;
}

.SD-clothing-sizes {
    float: right;
}

.SD-clothing-price {
    display: block;
    font-family: Cinzel;
}

@media all and (min-width:769px) {
    .SD-col-images:hover p {
        opacity: 1;
        transition: 0.5s;
    }
    .shop-sub {
        padding-left: 18%;
    }
}

@media all and (max-width:768px) {
    .SD-col-images p {
        opacity: 1;
        font-size: 12px;
    }
}

.SD-col-images a {
    color: #636363;
}

.SD-col-images a:hover {
    color: #636363;
}

.SD-heart i:hover,
.SD-heart i:active,
.SD-heart i:focus {
    color: #e2d5b5;
    /*cursor: url('../icons/cursor.svg') 100 0, auto;*/
}

.SD-collections-eg {
    margin-top: 80px;
}

.SD-head-borderleft {
    position: absolute;
    font-size: 30px;
    left: 44.45%;
    top: 16%;
}

.SD-head-borderright {
    position: absolute;
    font-size: 30px;
    right: 44.45%;
    top: 16%;
}


/*end clothing */


/* product */

.SD-product {
    background-color: #f2f2eb;
    height: 700px;
    display: block;
}

.SD-product-image {
    position: relative;
    width: 45%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    float: left;
    padding-top: 200px;
}

.SD-product-image img {
    height: 600px;
    z-index: 1;
    padding-top: 100px;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    margin: auto;
    opacity: 0;
    transition: top 0.2s ease, opacity 0.8s ease;
}

.SD-product-image img.SD-image-active {
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
    transition: top 0.3s ease 0.2s, transform 0s ease 0.2s, opacity 0.8s ease 0s;
}

.SD-product-view img.SD-thumbnail-active {
    opacity: 1;
}

.SD-product-image img.SD-shown {
    height: 600px;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.SD-product-image img.SD-shown {
    height: 600px;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.SD-product-view1,
.SD-product-view2,
.SD-product-view3 {
    cursor: url('../assets/icons/pointer1.png') 100 0, auto !important;
    opacity: 0.6;
}

.SD-product-view1:hover,
.SD-product-view2:hover,
.SD-product-view3:hover {
    opacity: 0.8;
}


/*.pink-circle-product{
    position: absolute;
    z-index: 0;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 300px;
    height: 300px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e2d5b5;
    border-radius: 50%;
    z-index: 0;
    opacity: .6;
    transition: .8s;
}*/

.SD-product-view {
    width: 12%;
    vertical-align: top;
    padding: 175px 0 100px;
    float: left;
}

.SD-product-view img {
    width: 80%;
    padding: 10px;
    height: 170px;
}

.SD-product-description {
    padding-top: 175px;
    width: 25%;
    float: left;
}

.SD-product-la {
    width: 5%;
    text-align: center;
    float: left;
    padding-top: 110px;
}

.SD-product-ra {
    width: 3%;
    display: table-cell;
    text-align: left;
}

.SD-col-name,
.SD-collection-price {
    line-height: 1.0;
    font-size: 24px;
    font-weight: 300;
}

.SD-collection-detail {
    font-size: 14px;
    margin-top: 40px;
}

.SD-collection-sizes {
    margin-top: 55px;
    display: table;
}

.SD-product:nth-child(2n-1) {
    background-color: #ecece5;
}

.SD-product:first-child() {
    margin-top: 80px;
}

.SD-product-description .SD-collection-sizes a {
    font-size: 15px;
}

.SD-collection-sizes a:last-child {
    margin-left: 50px;
}

.SD-collection-sizes a {
    color: #636363;
    font-size: 14px !important;
    padding: 0 5px;
    margin: 2px;
    width: 25%;
    height: 28px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.SD-collection-sizes a:hover {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
}


/*
.SD-size-1 {
    top: 390px;
}

.SD-size-2 {
    top: 380px;
    right: 303px;
}

.SD-size-3 {
    top: 380px;
    right: 271px;
}

.SD-size-4 {
    top: 380px;
    right: 237px;
}

.SD-size-5 {
    top: 380px;
    right: 205px;
}
*/

.SD-collection-sizes a:hover {
    color: #636363;
    text-decoration: none;
}

.SD-collection-sizes a:focus {
    text-decoration: none;
    background-color: white;
    color: #636363;
}

.SD-collection-sizes a:first-child {
    margin: 0px;
}

.SD-atw {
    background-color: #C6C5C2;
    color: #f7f7f2;
    height: 40px;
    width: 184px;
    top: 430px;
    border: 0px;
    padding: 0px;
    margin-top: 55px;
    /*position: absolute;*/
}

.SD-return-details {
    /*position: absolute;*/
    top: 470px;
    font-size: 12px;
    text-align: center;
    margin: 25px 80px 0px 9px;
}

.SD-return-details p {
    margin: 0px;
}


/*
.SD-return-details-2 {
    position: absolute;
    top: 480px;
    font-size: 12px;
}

.SD-return-details-3 {
    position: absolute;
    top: 490px;
    font-size: 12px;
}*/

.SD-atw-heart {
    width: 40px;
    height: 40px;
    position: absolute;
    color: #C6C5C2;
    background-color: #f7f7f2;
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
    margin-top: 55px;
}

.icon-heart {
    margin: 10px;
}

.SD-atw-heart:hover {
    color: #C6C5C2;
}

.SD-atw-heart:focus,
.SD-atw-heart:active,
.SD-atw-heart:hover {
    color: #e2d5b5;
    transition: 0.3s;
    cursor: url('../icons/cursor.svg') 100 0, auto !important;
}

.SD-product-la img,
.SD-product-ra img {
    width: 20px;
    height: 20px;
}

@media all and (max-width:786px) {
    .SD-product {
        height: 100%;
    }
    .SD-product-la {
        float: none;
    }
    .SD-product-description {
        width: 100%;
        display: block;
        padding: 20px;
        float: none;
    }
    .SD-product-view {
        width: 100%;
        display: block;
        text-align: center;
        float: none;
        padding: 0;
    }
    .SD-product-view img {
        width: 82px;
        padding: 10px;
        float: none;
        /* height: 70px; */
    }
    .SD-product-image {
        width: 100%;
        text-align: center;
        vertical-align: middle;
        display: block;
        float: none;
        overflow-x: visible;
        overflow-y: visible;
        padding: 0;
        height: 400px;
    }
    .SD-product-image img {
        padding: 0;
        height: 350px;
    }
    .SD-atw-heart,
    .SD-atw {
        margin-top: 20px;
    }
}

.SD-collection-sizes {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.SD-collection-sizes a {
    width: 48%;
    height: 100%;
    float: left;
    text-align: left;
}

.SD-collection-sizes img {
    display: block;
    margin-top: 5px;
}

.size-guide-link {
    margin: 30px 5px 0;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

#sizeModal .modal-header {
    padding: 5px 15px;
    border: 0;
}

#sizeModal .close {
    font-size: 64px;
    font-weight: 300;
}

#sizeModal .modal-dialog {
    width: 400px;
}

#sizeModal .modal-content {
    background-color: #ecece5;
}

#sizeModal .modal-body {
    height: 300px;
    padding: 2px 40px;
}

#sizeModal h3 {
    margin-bottom: 40px;
    font-family: cormorant;
    font-weight: 300;
}

#sizeModal .inline-grid {
    display: inline-grid;
}

#sizeModal .text-block {
    display: block;
}

#sizeModal .text-block img {
    display: inline;
    margin-right: 10px;
}

.font-15 {
    font-size: 15px;
}

#sizeModal .text-block span {
    font-family: SourceSansPro-Light;
    font-size: 12px;
}

#sizeModal .SD-collection-sizes p {
    float: left;
    width: 49%;
}

.SD-atw-heart,
.SD-atw {
    margin-top: 50px;
}


/*end product */


/*End by Sammaan*/


/* CSS by Rahul */


/* contact page css */

.SD-contact-studio-det,
.SD-contact-press-det,
.SD-contact-b2b-det {
    display: none;
}

.flex {
    display: flex;
}

.fiftyPercent {
    width: 50%;
}

.abourGraySection {
    background-color: #f2f2eb;
    padding: 92px 18.5%;
}

.fourtyTwoPercent {
    width: 42%
}

.marginAuto {
    margin: 0 auto;
}

.flexEnd {
    justify-content: flex-end;
}

.pointer {
    cursor: pointer;
}

.bottomfourty {
    padding-bottom: 40px;
}

.topTwenty {
    padding-top: 20px;
}

.rightSixteen {
    padding-right: 16px
}

.leftSixteen {
    padding-left: 16px;
}

.accorHeading img {
    padding-right: 16px
}

.bottomTwenty {
    padding-bottom: 20px;
}

.accorcontent p:last-child {
    padding-bottom: 0;
}

.accorHeading {
    /* font-family: Cormorant; */
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 0;
    /* color: #696d70; */
}

.accorcontent p {
    /* font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 300;
    color: rgb(105, 109, 112); */
    padding-bottom: 20px;
    margin-bottom: 0;
}

.accorcontent p:nth-child(3) {
    padding-bottom: 40px;
}

.mapImg {
    width: 100%;
    height: max-content;
    object-fit: cover;
}

.mapHeight {
    height: 710px;
}

.accorcontent,
.removeCross .cross,
.removePlus .plus {
    display: none;
}

.removeCross.showCross,
.showContent .accorcontent {
    display: block;
}

.imgClick {
    cursor: pointer;
}

.fontFourteen {
    font-size: 14px;
    font-weight: 300;
}


/* end contact page */


/* career page */

.carrerSection {
    padding: 100px 13%;
    justify-content: space-between;
    /* height: 100vh; */
    background-color: #f2f2eb;
}

.SD-existing-user a:hover {
    color: #636363;
    text-decoration: none;
}

.carrerSection aside nav ul li a {
    text-decoration: none;
    color: #636363;
}

.nav-pills>li {
    float: none;
    margin-left: 0 !important;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 300;
    color: #696d70;
}

.carrerSection aside nav .nav-pills>li.active>a,
.carrerSection aside nav .nav-pills>li.active>a:focus,
.carrerSection aside nav .nav-pills>li.active>a:hover {
    color: #636363 !important;
    background: unset !important;
    /* text-decoration: underline !important; */
    border-bottom: 2px solid;
    border-radius: 0;
}

.carrerSection aside nav .nav>li>a {
    padding: 0 !important;
    display: inline-block;
}

.carrerSection aside nav .nav>li>a:hover {
    cursor: pointer !important;
}

.carrerSection aside nav a:hover,
.carrerSection aside nav a:active {
    text-decoration: unset;
}

ul li:after {
    content: "";
    position: absolute;
    top: 11px;
    width: 0;
    transition: width .6s ease;
    border-top: 2px solid #c6c6c4;
    left: auto
}

ul li.active:after {
    width: 101px;
    margin: 0px 6px;
}

ul li.active::before {
    content: "";
    position: absolute;
}

.tabsCol {
    flex: none;
}

.fashionDesigner {
    padding-top: 40px;
}

.onlineMarketing {
    padding-top: 80px;
}

.accorItemHeading {
    /* font-family: Cormorant; */
    font-size: 24px;
    margin: 0;
    font-weight: 300;
    color: #696d70;
}

.TwentySixty {
    padding: 20px 0px 60px 0px;
}

.tab-content {
    padding: 0px 120px;
}

.jobDescription p {}

.fourteenSansPro * {
    font-family: Source Sans Pro;
    /* font-size: 14px;
    font-weight: 300;
    color: #696d70; */
    margin-bottom: 0;
}

.widthFull {
    width: 100%;
}

.inputFileCon {
    display: none;
}

.spaceBetween {
    justify-content: space-between;
}

.inputsContainer {
    margin-bottom: 20px;
}

.form .inputsContainer:last-child {
    margin: 50px 0px;
}

.inputFields {
    background-color: unset;
    border: none;
    border-bottom: 2px solid #c6c6c4;
    font-family: Cormorant;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    padding: 0;
    outline: none;
    color: #c6c6c4;
}

.textField::placeholder {
    color: #c6c6c4;
}

.textField:focus {
    border-bottom: 2px solid #979797;
}

.textField {
    color: black;
}

.fourteenCormorant {
    font-family: Cormorant;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}

.oneFortyButton {
    background-color: #c6c6c6;
    border: none;
    padding: 10px 70px;
    text-transform: uppercase;
}

.oneFortyButton:hover {
    background-color: black;
    font-weight: 900;
}

.uploadBtn {
    position: relative;
    bottom: 4px;
    cursor: pointer;
}

.grayCenterContent {
    margin: 0 auto;
    max-width: 200px;
    min-width: 31%;
}


/* end career page */


/* about us page */

video[poster] {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.videoContainer {
    position: relative;
}

.videoPlayCon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.eightHundredImg {
    height: 800px;
    object-fit: cover;
}

.aboutGrayContainer {
    background-color: #f2f2eb;
    display: flex;
    align-items: center;
}

.eighteenCormorant {
    /* font-family: Cormorant; */
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    /* color: #696d70; */
}

.abouWhiteContainer {
    background-color: #ffffff;
    padding: 40px 10px 20px 10px;
}

.abouWhiteContainer h4 {
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.itemCenter {
    align-items: center;
}

.grauBack {
    background-color: #ecece5;
}

.carousel-inner {
    overflow: unset;
}

.carousel-left-gradient,
.righCarousel {
    background-image: unset !important;
    width: 50%;
    /* padding-top: 20%; */
    height: auto;
}

.carousel-left-gradient {
    cursor: url(../icons/VD_Icons_resize-07.png), auto;
}

.righCarousel {
    cursor: url(../icons/VD_Icons_resize-42.png), auto;
}

.fiveThirty {
    height: 530px;
    object-fit: cover;
}

.slideHeading h3 {
    font-weight: 300;
    margin: 0;
    padding-bottom: 30px;
}

.gridThree {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33.3%, 1fr));
}

.heightFourhundred {
    height: 400px;
}

.heightFourhundred img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gridsContent {
    padding: 40px 25px;
}

.gridsContent p {
    margin-bottom: 0;
    padding-bottom: 7px;
}

.gridsContent p:last-child {
    padding: 0;
}

.gridsContent h4 {
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 20px;
}

.gridsContent p a {
    border-bottom: 1px solid;
}


/* End about us page */


/* Collections page */

.hovContent {
    text-align: center;
    padding: 10px 10px;
    position: absolute;
    width: 100%;
}

.hovContent a:hover {
    text-decoration: none;
}

.hoveContainer {
    position: relative;
}

.gridFour {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr))
}

.hovContent {
    text-align: center;
    padding: 10px 10px;
    position: absolute;
    width: 100%;
    transition: 0.4s;
    background-color: #fff;
    cursor: pointer;
    bottom: calc(-67px);
    opacity: 0;
    pointer-events: none;
}

.hoveContainer {
    position: relative;
}

.gridFour {
    /* grid-template-columns: repeat(auto-fill, minmax(25%, 1fr)); */
}

.hoveContainer:hover .hovContent {
    bottom: 0;
    opacity: 1;
    pointer-events: unset;
}

.largerVideoPoster[poster] {
    height: 710px;
}

.hoveContainer:hover .heart {
    transform: scale(1);
}

.selected .unselected svg g path {
    fill: red;
}

.heart {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: scale(0);
    transition: 0.5s;
    cursor: pointer;
}

.topEightPix {
    text-align: center;
    padding: 80px 0px;
}

.yellowBtn {
    background-color: #d19e2a;
    color: #fff;
    padding: 9px 43px;
}

.collectionGray.removeSection {
    display: none;
}


/* End Collections page */

.content-container {
    padding-top: 95px;
}


/* responsivness */

@media (max-width:744px) {
    .abourGraySection {
        padding: 50px 8%;
    }
}

@media (max-width:546px) {
    .aboutContainer {
        flex-direction: column;
    }
    .abourGraySection,
    .mapContainer {
        width: 100%;
    }
}

@media(max-width:730px) {
    .carrerSection {
        flex-direction: column;
        padding: 100px 40px;
    }
    .tab-content {
        width: 308px;
        margin: 0 auto;
        margin-right: 0;
        padding: 0;
    }
}

@media(max-width:594px) {
    ul li.active:after {
        width: 30px;
        margin: 0px 6px;
    }
}

@media(max-width:523px) {
    .tab-content {
        margin-left: 0;
        padding-left: 40px;
    }
    .carrerSection {
        padding: 100px 4%;
    }
    ul li.active:after {
        width: 16px;
    }
}

@media(max-width:585px) {
    .aboutLarge,
    .carousel-inner .item .flex {
        flex-direction: column;
    }
    .aboutLarge .fiftyPercent,
    .carousel-inner .item .flex .fiftyPercent {
        width: 100%;
    }
    .aboutGrayContainer,
    .grauBack {
        padding: 40px 0px;
    }
    .videPlay {
        width: 40px;
    }
}

@media(max-width:681px) {
    .gridThree {
        grid-template-columns: auto;
    }
}


/* end responsivness */


/* CSS by Rahul */